/* #34373c */

body, html {
    background-color: #141517;
}

body {
  font-family: 'Droid Sans', sans-serif !important;
}

.primary-red {
    color: red;
}

.navbar {
    background-color: #34373c;
}

.navbar-brand {
    margin-left: 100px !important;
}

.sign-in-up {
    margin-right: 100px !important;
}

#searchInput {
    background: transparent;
    border: 0;
    outline: 0;
    background: transparent;
    border-bottom: 1px solid #d4d4d4;
    color: #d4d4d4;
}

.gallery {
    margin: 30px 0 50px 0;
    padding: 20px;
    background-color: #34373c;
    border-radius: 5px;
}

.code-thumbnail {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none; /* Non-prefixed version, currently supported by Chrome and Opera */
}

.code-thumbnail:hover {
    box-shadow: none;
    cursor: pointer;
}

.code-thumbnail a:hover {
    text-decoration: none;
}

.btn-upload {
    background-color: #d02721;
    color: #fff;
    font-family: 'Droid Sans', sans-serif !important;
}

.btn-upload:hover {
    cursor: pointer;
}

.lead-in {
    text-align: center;
    margin: 50px 0 0 0;
}

.lead-in h1 {
    color: #d4d4d4;
}

.lead-in p {
    color: rgba(255,255,255,.5);
}

.lead-in .emphasis {
    text-decoration: underline;
    text-decoration-color: #d02721;
}

.post {
    color: #d4d4d4;
    margin: 30px 0 0 0;
    padding: 20px 20px 5px 20px;
    background-color: #34373c;
    border-radius: 5px 5px 0 0;
}

code {
    font-family: monospace !important;
    font-size: 1.5em !important;
    overflow: hidden !important;
}

.post-bottom {
    color: #d4d4d4;
    margin-bottom: 1rem;
    padding: 20px;
    background-color: #34373c;
}

.social-icon {
    color: #d4d4d4;
    font-size: 1.5em;
    cursor: pointer;
}

.social-icon:hover {
    text-decoration: none;
}

.social-facebook:hover {
    color: #3b5998;
}

.social-twitter:hover {
    color: #00b6f1;
}

.social-linkedin:hover {
    color: #007bb6;
}

.social-reddit:hover {
    color: #ff5700;
}

.social-google:hover {
    color: #df4a32;
}

.post-container {
    font-size: 0.8em;
}

.post-container code {
    overflow: scroll !important;
}

.post-information p {
    color: rgba(255,255,255,.6);
}

.btn {
    color: #fff;
    font-family: 'Droid Sans', sans-serif !important;
}

.btn:hover {
    cursor: pointer;
}

.btn-like {
    background-color: green;
}

.btn-dislike {
    background-color: #d02721;
}

.views {
    margin-left: 20px;
}

td.hljs-ln-numbers {
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;

	text-align: right;
	color: #515763;
	border-right: 1px solid #515763;
	vertical-align: top;
	padding-right: 5px !important;
}

td.hljs-ln-numbers:hover {
    cursor: pointer;
	color: #ccc !important;
}

td.hljs-ln-code {
	padding-left: 10px !important;
}

.upload {
    color: #d4d4d4;
    margin: 30px 0 0 0;
    padding: 20px 20px 5px 20px;
    background-color: #34373c;
    border-radius: 5px 5px 0 0;
}

.upload i {
    color: #d02721;
}

.thumbnail {
    color: #d4d4d4;
}

.thumbnail-code code {
    font-size: 0.1em !important;
}

.upload-message {
  color: #d4d4d4;
}

.code-formatting {
    font-family: monospace;
}

.login-container {
    margin-top: 60px;
    color: #d4d4d4;
}

.login-container form {
    background-color: #34373c;
    padding: 20px;
}

.fa-asterisk {
    color: #d02721;
}

.login-container .nav-tabs {
    border-bottom: 1px solid #34373c;
}

.login-container .nav-link.active {
    color: #d4d4d4;
    background-color: #34373c;
    border-color: #34373c;
}

.login-container .nav-link {
    color: rgba(255,255,255,.5);
    background-color: #232629;
    border-color: #232629;
}

.input-group-addon {
     background-color: #d02721;
     color: #FFF;
}

#githubLoginBtn:hover {
    background-color: #c9510c;
    border-color: #c9510c;
}

#gitlabLoginBtn:hover {
    background-color: #554488;
    border-color: #554488;
}

#stackexchangeLoginBtn:hover {
    background-color: #4285f4;
    border-color: #4285f4;
}

.dropdown-item:active {
    background-color: #d02721;
}

.no-click {
    pointer-events: none;
}

.page-link {
    background-color: #34373c;
    color: #d4d4d4;
    border: 1px solid #141517;
}

.page-item.disabled .page-link {
    background-color: #25272b;
    border-color: #141517;
}

.page-item.active .page-link {
    background-color: #d02721;
    border-color: #792e27;
}

#backToTopBtn {
    width: 40px !important;
    height: 40px !important;
    display: none; /* Hidden by default */
    position: fixed; /* Fixed/sticky position */
    bottom: 20px; /* Place the button at the bottom of the page */
    right: 30px; /* Place the button 30px from the right */
    z-index: 99; /* Make sure it does not overlap */
    border: none; /* Remove borders */
    outline: none; /* Remove outline */
    background-color: #d02721; /* Set a background color */
    color: white; /* Text color */
    cursor: pointer; /* Add a mouse pointer on hover */
    padding: 8px; /* Some padding */
}

#backToTopBtn:hover {
    background-color: #34373c; /* Add a dark-grey background on hover */
}

.comments {
    color: rgba(255,255,255,.6);
}

.comment {
}

.comment-form {
    margin-bottom: 60px;
}

.btn-comment {
    margin-top: 5px;
    background-color: #d02721;
    color: #fff;
    font-family: 'Droid Sans', sans-serif !important;
}

.comment-border {
    margin-bottom: 20px;
    border-top: 1px solid #34373c;
    padding-left: 20px;
    padding-right: 20px;
}

.error-container {
    margin-top: 100px;
}

.error-container h1 {
    color: rgba(255,255,255,.6);
    font-size: 10em;
    text-decoration: underline;
    text-decoration-color: #d02721;
}

.error-container h1 {
    color: rgba(255,255,255,.6);
    font-size: 4em;
}

.error-container p {
    color: rgba(255,255,255,.6);
}

.thumbnail-user {
    font-size: 0.6em;
}