@(statusCode: Int, message: String)

@main("ShiteCode - Error") {

    <div class="container">

        <div class="error-container text-center">
            <h1>@statusCode</h1>
            <p>@message</p>
        </div>

    </div>

}

