@import util.Constants
@import util.HashUtil

@()(implicit session: Session)

<nav class="navbar navbar-toggleable-md navbar-inverse">
    <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse"
            data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
            aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <a class="navbar-brand" href="/">&lt;shite<span class="primary-red">code</span>/&gt;</a>


    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <form class="form-inline mr-auto" action="/upload">
            <button class="btn btn-upload my-2 my-sm-0" type="submit">
                <i class="fa fa-cloud-upload" aria-hidden="true"></i> Upload
            </button>
        </form>

       <form class="form-inline my-2 my-lg-0">
            <input id="searchInput" class="form-control rounded-0 py-2" placeholder="search..." style="display: none;">
        </form>

        <ul class="navbar-nav sign-in-up">
            <!--<li class="nav-item">-->
                <!--<a id="searchBtn" class="nav-link" href="#"><i class="fa fa-search"></i></span></a>-->
            <!--</li>-->

            @(session.get(Constants.SessionUserName), session.get(Constants.SessionEmailAddress),
            session.get(Constants.SessionUserAvatar), session.get(Constants.SessionProfileLink)) match {
                case (Some(username), Some(emailAddress), Some(avatarLink), Some(profileLink)) => {

                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            @username
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                            <a class="dropdown-item no-click" href="#"> <img width="40" height="40" src="@avatarLink" title="@username"/></a>
                            <a class="dropdown-item no-click" href="#">
                                <small>Logged in as</small>
                                <br />
                                <strong>@username</strong>
                            </a>
                            <hr />
                            <a class="dropdown-item" href="@profileLink">profile</a>
                            <hr />
                            <a class="dropdown-item" href="/logout">logout</a>
                        </div>
                    </li>
                }
                case _ => {

                    <li class="nav-item">
                        <a class="nav-link" href="/login">sign in <span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/login?signUp=true">sign up</a>
                    </li>

                }
            }

        </ul>
    </div>
</nav>
