@(postDatas: Seq[ThumbnailPost], page: Int, count: Int, pageCount: Int)(implicit session: Session)

@main("Shite Code") {

    @header()

    <div class="lead-in">
        <h1>
            <span class="emphasis">Shite</span> snippets of mediocre programming.
        </h1>

        <p>
            Today's shite code.
        </p>
    </div>

    <div class="container">

        <div class="row gallery">
            @if(postDatas.isEmpty) {
                <div class="upload-message col-12 text-center">
                    <h3>Upload a post now!</h3>
                </div>
            }

            @postDatas.map { post =>
                <div class="col-md-3 col-sm-12 thumbnail">
                    <h6 class="thumbnail-title"><a href="/post/@post.id">@post.title</a></h6>
                    <div class="code-thumbnail">
                        <a href="/post/@post.id">
                            <pre><code>@post.codeSnippet</code></pre>
                        </a>
                    </div>
                    <p class="thumbnail-user">Uploaded by <a href="#">@post.username</a> @post.uploaded</p>
                </div>
            }
        </div>

    </div>

    <div class="container">
        <nav>
            <ul class="pagination pagination-sm justify-content-center">
                <!-- previous button -->
                @if(page > 0 && pageCount > 1) {
                    <li class="page-item">
                        <a class="page-link" href="/?page=@(page - 1)" tabindex="-1">Previous</a>
                    </li>
                } else {
                    <li class="page-item disabled">
                        <a class="page-link" href="#" tabindex="-1">Previous</a>
                    </li>
                }
                <!---->

                @if(pageCount >= 10 && page >= 10) {

                    <li class="page-item"><a class="page-link" href="/?page=0">1</a></li>
                    <li class="page-item disabled"><a class="page-link" href="#">...</a></li>

                    @for(i <- pageCount - 10 to pageCount - 1) {
                        @if(i >= 10) {
                            @if(i == page) {
                                <li class="page-item active"><a class="page-link" href="#">@(i + 1)</a></li>
                            } else {
                                <li class="page-item"><a class="page-link" href="/?page=@i">@(i + 1)</a></li>
                            }
                        }
                    }

                } else {
                    @for(i <- 0 to pageCount - 1) {
                         @if(i < 10) {
                             @if(i == page) {
                                 <li class="page-item active"><a class="page-link" href="#">@(i + 1)</a></li>
                            } else {
                                 <li class="page-item"><a class="page-link" href="/?page=@i">@(i + 1)</a></li>
                             }
                         }
                    }

                    @if(pageCount >= 10) {
                        <li class="page-item disabled"><a class="page-link" href="#">...</a></li>
                        <li class="page-item"><a class="page-link" href="/?page=@(pageCount - 1)">@(pageCount)</a></li>
                    }
                }

                <!-- next button -->
                @if(page < pageCount - 1 && pageCount > 1) {
                    <li class="page-item">
                        <a class="page-link" href="/?page=@(page + 1)">Next</a>
                    </li>
                } else {
                    <li class="page-item disabled">
                        <a class="page-link" href="#">Next</a>
                    </li>
                }
                <!---->

            </ul>
        </nav>
    </div>



}
