@(registerForm: Form[RegisterData], loginForm: Form[LoginData], signUp: Option[Boolean])(implicit messages: Messages, request: RequestHeader)

@main("Shite Code - Login") {

    <div class="container">
        <div class="row login-container">
            <div class="col-md-3">

            </div>
            <div class="col-md-6">

                <ul class="nav nav-tabs" role="tablist">
                    <li class="nav-item">
                        <a id="loginTab" class="nav-link active" data-toggle="tab" href="#loginContent" role="tab">Login</a>
                    </li>
                    <li class="nav-item">
                        <a id="registerTab" class="nav-link" data-toggle="tab" href="#registerContent" role="tab">Register</a>
                    </li>
                </ul>

                <div class="tab-content">
                    <div id="loginContent" class="tab-pane active" role="tabpanel">
                        @helper.form(action = helper.CSRF(routes.LoginController.login()), 'enctype -> "multipart/form-data") {
                        <form id="loginForm">
                            <div class="input-group">
                                <span class="input-group-addon"><i class="fa fa-user" aria-hidden="true"></i></span>
                                <input type="text" class="form-control" id="emailAddressLogin" placeholder="Enter your email address" name="emailAddress">
                            </div>
                            <br/>
                            <div class="input-group">
                                <span class="input-group-addon"><i class="fa fa-unlock-alt" aria-hidden="true"></i></span>
                                <input type="password" class="form-control" id="passwordLogin" placeholder="Enter your password" name="password">
                            </div>
                            <hr />
                            <button type="submit" class="btn btn-upload btn-block">Login</button>
                        </form>

                        <div class="form-group text-center">
                            <label for="username">or one-click-login</label>

                            <form>
                                <button id="githubLoginBtn" class="btn btn-outline-secondary"><i class="fa fa-github" aria-hidden="true"></i> GitHub</button>
                                <button id="gitlabLoginBtn" class="btn btn-outline-secondary"><i class="fa fa-gitlab" aria-hidden="true"></i> GitLab</button>
                                <button id="stackexchangeLoginBtn" class="btn btn-outline-secondary"><i class="fa fa-stack-overflow" aria-hidden="true"></i> StackOverflow</button>
                            </form>
                        </div>
                        }
                    </div>
                    <div id="registerContent" class="tab-pane" role="tabpanel">
                      @helper.form(action = helper.CSRF(routes.LoginController.register()), 'enctype -> "multipart/form-data") {
                        <form id="registerForm">
                            <div class="form-group">
                                <label for="name">Full Name</label>
                                <input type="text" class="form-control" id="name" placeholder="Enter your full name" name="name" size="250">
                            </div>
                            <div class="form-group">
                                <label for="username">Username</label>
                                <input type="text" class="form-control" id="username" placeholder="Choose a username" name="username" size="50">
                            </div>
                            <div class="form-group">
                                <label for="email">Email Address</label>
                                <input type="text" class="form-control" id="email" placeholder="Enter an email address" name="emailAddress" size="254">
                            </div>
                            <div class="form-group">
                                <label for="password">Password</label>
                                <input type="password" class="form-control" id="password" placeholder="Enter a password" name="password" size="128">
                                <small class="form-text text-muted">At least 8 characters</small>
                            </div>
                            <hr />
                            <div class="form-check">
                                <label class="form-check-label">
                                    <input type="checkbox" class="form-check-input text-muted" name="termsAgreement" value="true">
                                    <small class="form-text">I agree to the <a href="#">terms of service</a>.</small>
                                </label>
                            </div>

                            <button type="submit" class="btn btn-upload btn-block">Sign up for ShiteCode</button>

                        </form>
                      }
                    </div>

                </div>

            </div>
            <div class="col-md-3">

            </div>
        </div>

    </div>


<script type="text/javascript">
    $(function() {

        $("#githubLoginBtn").click(function() {
            $(this).closest("form").attr("action", "/register/github/authorize ");
        });

        $("#gitlabLoginBtn").click(function() {
            $(this).closest("form").attr("action", "/register/gitlab/authorize ");
        });

        $("#stackexchangeLoginBtn").click(function() {
            $(this).closest("form").attr("action", "/register/stackexchange/authorize ");
        });

    });
</script>

}
