@import util.Constants

@(post: PostData)(implicit session: Session)

@main("Shite Code") {

    @header()

    <div class="container">
        <div class="row post-container">
            <div class="col-md-2">

            </div>
            <div class="col-md-8">

                <div class="post">

                    <h5>@post.title</h5>
                    <hr />
                    <p>Submitted
                        by <a href="#">@post.username</a>

                        <span id="uploadedAgo"></span> on @post.uploaded</p>

                </div>
                <div class="code-block">

                <pre><code>@post.codeSnippet</code></pre>

                </div>

                <div class="post-bottom">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="btn-group">
                                <button id="likeBtn" class="btn btn-sm btn-like">
                                    <span>
                                        <i class="fa fa-thumbs-o-up" aria-hidden="true"></i> Like | <span id="likes">@post.likes</span>
                                    </span>
                                </button>
                                <button id="dislikeBtn" class="btn btn-sm btn-dislike">
                                    <span><i class="fa fa-thumbs-o-down" aria-hidden="true"></i> | <span id="dislikes">@post.dislikes</span></span>
                                </button>
                            </div>

                            <span class="views">
                                <span id="viewCount">@post.views</span> views
                            </span>
                        </div>
                        <div class="col-md-6">
                            <div class="social float-right">
                                <a class="social-icon social-facebook" href="#" data-toggle="tooltip" data-placement="bottom" title="Share to Facebook">
                                    <i class="fa fa-facebook"></i>
                                </a>
                                <a class="social-icon social-twitter" href="#" data-toggle="tooltip" data-placement="bottom" title="Share to Twitter">
                                    <i class="fa fa-twitter"></i>
                                </a>
                                <a class="social-icon social-reddit" href="#" data-toggle="tooltip" data-placement="bottom" title="Share to Reddit">
                                    <i class="fa fa-reddit"></i>
                                </a>
                                <a class="social-icon social-google" href="#" data-toggle="tooltip" data-placement="bottom" title="Share to Google Plus">
                                    <i class="fa fa-google-plus"></i>
                                </a>
                                <a class="social-icon social-linkedin" href="#" data-toggle="tooltip" data-placement="bottom" title="Share to LinkedIn">
                                    <i class="fa fa-linkedin"></i>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="post-bottom">
                    <div class="post-information">
                        <h6>Description</h6>
                        <hr />
                        <p>@post.description</p>
                    </div>

                </div>

                <div class="row">
                    <div class="comments col-md-12" id="comments">
                        <div class="comment-form">
                            <h6 class="mb-2"><span id="totalComments"></span> Comments</h6>

                            <textarea id="commentText" maxlength="250" class="form-control" rows="4" placeholder="Add a new comment..."></textarea>
                            <button id="commentBtn" class="btn btn-comment float-right">Comment</button>
                        </div>

                        <p>Sorted by newest</p>

                    </div>
                </div>




            </div>
            <div class="col-md-2">

            </div>
        </div>
    </div>

    <button onclick="topFunction()" id="backToTopBtn" title="Scroll to top"><i class="fa fa-arrow-up" aria-hidden="true"></i></button>

    <script>hljs.initLineNumbersOnLoad();</script>
    <script type="text/javascript">
    function buildComment(emailHash, comment, username, createdDate) {
        return '<div class="comment-border"></div><div class="comment mb-2 row"><div class="comment-avatar col-md-1 col-sm-2 text-center pr-1"><a href=""><img class="mx-auto img-fluid" src="https://www.gravatar.com/avatar/' + emailHash + '?d=identicon" alt="avatar"></a></div><div class="comment-content col-md-11 col-sm-10"><h6 class="small comment-meta"><a href="#">' + username + '</a> ' + createdDate + '</h6><div class="comment-body"><p>' + comment + '<br></p></div></div></div>'
    }

    function clearComments() {
        $('.comment').remove();
        $('.comment-border').remove();
    }

    function buildComments(data) {
        data.forEach((commentData) => {
            $('#totalComments').text(data.length);

            const {emailHash, comment, username, createdDate, modifiedDate} = commentData;

            $('#comments').append(buildComment(emailHash ,comment, username, createdDate, modifiedDate));
        });
    }

    function loadComments() {
        $.get('/post/@post.postId/comments', buildComments);
    }

    function vote(vote) {
      $.ajax({
            url : '/post/@post.postId/vote',
            type : 'POST',
            data : {
                'vote' : vote
            },
            dataType :'json',
            success : function(data) {
                $('#likes').text(data.likes);
                $('#dislikes').text(data.dislikes);
            },
            error : function(request, error) {
                //
            }
        });
      }
        $(function() {
            loadComments();

            $('#commentBtn').click(function() {
                  $.ajax({
                    url : '/post/@post.postId/comments',
                    type : 'POST',
                    data : {
                        'comment' : $("#commentText").val()
                    },
                    dataType:'json',
                    success : function(data) {
                        clearComments();
                        buildComments(data);
                        $("#commentText").val('')
                    },
                    error : function(request, error) {
                        alert('commented failed ' + error);
                    }
                });
            });

            $('#likeBtn').click(function() {
                vote(true);
            });

            $('#dislikeBtn').click(function() {
                vote(false);
            });

        });

        window.onscroll = function() {scrollFunction()};

        function scrollFunction() {
            if (document.body.scrollTop > 20 || document.documentElement.scrollTop > 20) {
                document.getElementById("backToTopBtn").style.display = "block";
            } else {
                document.getElementById("backToTopBtn").style.display = "none";
            }
        }

        function topFunction() {
            document.body.scrollTop = 0; // For Chrome, Safari and Opera
            document.documentElement.scrollTop = 0; // For IE and Firefox
        }
    </script>

}
