@(uploadForm: Form[UploadData])(implicit messages: Messages, request: RequestHeader, session: Session)

@main("Shite Code - Upload") {

    @header()

    <div class="container">
        <div class="row post-container">

            <div class="col-md-2">

            </div>
            <div class="col-md-8">
                @if(uploadForm.hasErrors) {
                    <div class="alert alert-danger" role="alert">
                        <strong>Mandatory Fields Blank:</strong> Complete the fields and try submitting again.
                    </div>
                }

                <div class="upload">

                    <h3>New Post</h3>

                    <hr />

                    @helper.form(action = helper.CSRF(routes.UploadController.post()), 'enctype -> "multipart/form-data") {
                    <form>
                        <div class="form-group">
                            <label for="title"><i class="fa fa-asterisk" aria-hidden="true"></i> Title</label>
                            <input type="text" class="form-control" id="title" placeholder="Enter title" name="title">
                        </div>
                        <div class="form-group">
                            <label for="description"><i class="fa fa-asterisk" aria-hidden="true"></i>Description</label>
                            <textarea class="form-control" id="description" rows="3" placeholder="Enter description" name="description"></textarea>
                        </div>
                        <div class="form-group">
                            <label for="code"><i class="fa fa-asterisk" aria-hidden="true"></i> Code Snippet</label>
                            <textarea class="code-formatting form-control" id="code" rows="6" placeholder="Enter shite code" name="codeSnippet"></textarea>
                        </div>

                        <button type="submit" class="btn btn-outline-secondary">Cancel</button>
                        <button type="submit" class="btn btn-upload">Submit</button>

                    </form>
                    }
                </div>

            </div>
            <div class="col-md-2">

            </div>
        </div>
    </div>




}